@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: n-resize;
    background-image: linear-gradient(to right top, #f1f7f9, #eff5f7, #edf4f5, #ecf2f2, #eaf0f0, #e9eff0, #e8efef, #e7eeef, #e7eff1, #e7eff3, #e8f0f5, #e9f0f7);
}

.Navbar{
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 1rem;
    align-items: center;
}
.in{
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-image: linear-gradient(to right top, #e5f3ed, #e4f3ee, #e3f2ee, #e3f2ef, #e2f1ef, #e2f1f0, #e2f0f1, #e2f0f2, #e3f0f3, #e4eff4, #e5eff5, #e7eef5);
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: 1px solid #000;
    width: 100px;

}

.ul-Navbar{
    display: flex;
    width: auto;
    list-style: none;
    gap: 2rem;
    align-content: center;
    align-items: center;
}
.Navbar>button{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 1rem;
    width: 150px;
    height: 80px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border-style: none;
    border: 1px solid #000;
    box-shadow: 3px 3px #999;
    background-image: linear-gradient(to right top, #ddebee, #ddecef, #ddecef, #ddedf0, #ddedf0, #dcedf0, #daecf1, #d9ecf1, #d7eaf1, #d5e8f2, #d4e5f2, #d4e3f2);
}
#img1{
    width: 55%;
    height: 55%;
}

.home1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text1{
    display: inline-block;
    position: relative;
    color: #000;
    right: 20rem;
    bottom: 34rem;  
    height: 0;
    font-family: 'Open Sans', sans-serif; 
}

.text1>h2{
    font-size: 16px;
}

.text1>h1{
    font-size: 28px;
}
.text2>h1{
    font-size: 28px;
}
.text2>h2{
    font-size: 16px;

}
.text2{
    display: inline-block;
    position: relative;
    bottom: 30rem;
    left: 23rem;
    height: 0;
    font-family: 'Open Sans', sans-serif;
}

.home2{
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;

}

.home2>p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.btn-registrer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
    padding: .5rem;
    width: 300px;
    border-radius: 10px;
    font-size: 18px;
    border-style: none;
    border: 1px solid #000;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 3px 3px #999;
    background-image: linear-gradient(to right top, #ddebee, #ddecef, #ddecef, #ddedf0, #ddedf0, #dcedf0, #daecf1, #d9ecf1, #d7eaf1, #d5e8f2, #d4e5f2, #d4e3f2);
}

.home3{
    display: flex;
    width: auto;
    flex-direction: column;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    background-image: linear-gradient(to right top, #dcebf0, #dcecf1, #dcedf1, #ddeef2, #ddeff2, #dff0f2, #e1f2f3, #e3f3f3, #e8f5f4, #ecf7f6, #f1f9f8, #f5fbfa);
}

.t1bold{
    font-weight: bold;
}

#image2{
    position: relative;
    width: 12%;
    height: 12%;
    bottom: 18rem;
    left: 28rem;
}

.home4{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    padding-left: 5%;
    padding-right: 5%;
    
}

.home4>h1{
    font-size: 28px;
}

.home4-a{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.home4-a1{
    display: flex;
    flex-direction: column;
}

.home4-a1>h1, h2{
    font-size: 20px;

}

.home4-a1>h1{
    background-image: linear-gradient(to right top, #e5f3ed, #e4f3ee, #e3f2ee, #e3f2ef, #e2f1ef, #e2f1f0, #e2f0f1, #e2f0f2, #e3f0f3, #e4eff4, #e5eff5, #e7eef5);
    border-radius: 10px;
    border: 1px solid #000;
    padding: 1rem;
}

.home4-a1>p{
    text-align: left;
}

.home4-a2{
    display: flex;
    flex-direction: column;   
}

.home4-a2>h1, h2{
    font-size: 20px;
}

.home4-a2>h1{
    background-image: linear-gradient(to right top, #e5f3ed, #e4f3ee, #e3f2ee, #e3f2ef, #e2f1ef, #e2f1f0, #e2f0f1, #e2f0f2, #e3f0f3, #e4eff4, #e5eff5, #e7eef5);
    border-radius: 10px;
    border: 1px solid #000;
    padding: 1rem;
}
.home4-a2>p{
    text-align: right;
}

#image3{
    position: relative;
    width: 20%;
    height: 20%;
}

.home5{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right top, #dcebf0, #dcecf1, #dcedf1, #ddeef2, #ddeff2, #dff0f2, #e1f2f3, #e3f3f3, #e8f5f4, #ecf7f6, #f1f9f8, #f5fbfa);
    
}

.home5-a{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.home5-a1{
    display: flex;
    width: 250px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

#img4{
    width: 50%;
    height: 50%;
    
}

.home6{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.home6-a{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.home6-a>h1{
    font-size: 28px;
}

.home6-a>h2{
    font-size: 18px;
}

.home6-b{
    padding-top: 1rem;
    display: flex;
    width: 80%;
    justify-content: space-around;
    
}

.home6-b1>h1{
    font-size: 18px;
}



.progreso{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.barra{
    width: 80%;
    height: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #999;
}

.circulo{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 100%;
    background-image: linear-gradient(to right top, #e5f3ed, #e4f3ee, #e3f2ee, #e3f2ef, #e2f1ef, #e2f1f0, #e2f0f1, #e2f0f2, #e3f0f3, #e4eff4, #e5eff5, #e7eef5);

}

.home6-c{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    
}

.home6-c1>h1{
    font-size: 18px;
}
.home6-c2>h1{
    font-size: 18px;
}

.home6-c1{
    grid-column: 2;
    text-align: center;

}

.home6-c2{
    grid-column: 4;
}

#img5{
    width: 30%;
    height: 30%;
    position: relative;
    left: 4rem;
}
.home7{
    padding-top: 3rem;
    background-image: linear-gradient(to right top, #dcebf0, #dcecf1, #dcedf1, #ddeef2, #ddeff2, #dff0f2, #e1f2f3, #e3f3f3, #e8f5f4, #ecf7f6, #f1f9f8, #f5fbfa);
    
}

.home7>h1{
    text-align: center;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.home7-a{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr, 1fr,;
    margin-left: 5%;
    margin-right: 5%;
}

.home7-a1{
    grid-column: 1;
    grid-row: 1;
}

.home7-a1>h2{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

}

.home7-a2{
    grid-column: 3;
    grid-row: 1;
}

.home7-a2>h2{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.home7-a3{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
}

.home7-a4{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 3;
}

.home7-a4>h2{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.home7-a5{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-column: 3;
    grid-row: 3;
    justify-content: center;
    
}

.home7-a5>h2{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}


#img6{
    
    width: 60%;
    height: 80%;
    
}

.btn2-registrer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    width: 300px;
    border-radius: 10px;
    font-size: 18px;
    border-style: none;
    border: 1px solid #000;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 3px 3px #999;
    background-image: linear-gradient(to right top, #ddebee, #ddecef, #ddecef, #ddedf0, #ddedf0, #dcedf0, #daecf1, #d9ecf1, #d7eaf1, #d5e8f2, #d4e5f2, #d4e3f2);
}

#img9{
    width: 50%;
}

.home8{
    padding-top: 3rem;
    width: auto;
}
.home8>h1{
    text-align: center;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.home8>h2{
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.home8-c1{
    display: flex;
    width: auto;
    justify-content: space-evenly;
    gap: 3rem;
    align-items: center;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.home8-a1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;

}

.home8-a1>h1{
    text-align: center;
}
.home8-a1>h2{
    text-align: center;
}
.home8-a1img{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}
.home8-a1text>h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.home8-a1text>h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.home8-a2{
    text-align: center;
}

.home8-a2>p{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#img10{
    width: 30%;
}

